# Core Data Handling
numpy
pandas

# Visualization
matplotlib
seaborn
plotly
# Dashboards & UI
streamlit

# Date & Time Utilities
python-dateutil
pytz

# Performance & Utilities
scipy
statsmodels

# File Handling
openpyxl
pyarrow

# Optional (nice to have)
watchdog
